body {
  margin: 0;
  background-color: #0b0b0b;
  filter: brightness(0.9) contrast(1.1);
  overflow: hidden;
  background-image: url("background.jpg");
  background-size: cover;        /* que cubra toda la pantalla */
  background-position: center;   /* centrada */
  background-repeat: no-repeat;
}

#scene {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#spider {
  width: 32px;
  height: 32px;

  background-image: url("../img/spider.png");
  background-repeat: no-repeat;

  position: absolute;

  image-rendering: pixelated;
  transform-origin: center;
}

/* CAMINAR — fila 1, 6 frames */
.walk {
  background-position-y: -32px;
  animation: walk 0.8s steps(6) infinite;
}

/* EVENTO A — fila 2, 9 frames */
.eventA {
  background-position-y: -64px;
  animation: eventA 0.9s steps(9) 1;
}

/* EVENTO B — fila 3, 9 frames */
.eventB {
  background-position-y: -192px;
  animation: eventB 0.9s steps(9) 1;
}

@keyframes walk {
  from { background-position-x: 0px; }
  to   { background-position-x: -192px; }
}

@keyframes eventA {
  from { background-position-x: 0px; }
  to   { background-position-x: -288px; }
}

@keyframes eventB {
  from { background-position-x: 0px; }
  to   { background-position-x: -288px; }
}